@use "../colors";

.job {
  height: 10rem;
  width: 75vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  font-size: 1vw;

  &_logo {
    flex: 10%;
  }
  &_role {
    text-decoration: none;
    color: black;
    &:hover {
      color: colors.$DesaturatedDarkCyan;
    }
  }
  &_card {
    flex: 40%;
    display: grid;
    gap: 1rem;
    &_details {
      display: flex;
      gap: 1rem;
      display: flex;
      &_company {
        color: colors.$DesaturatedDarkCyan;
      }
    }
    &_list {
      padding-left: 1rem;
      display: flex;
      gap: 2rem;
      color: colors.$DarkGrayishCyan;
    }
  }
  &_keywords {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;

    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: colors.$LightGrayishCyan-FilterTablets;
      color: colors.$DesaturatedDarkCyan;
      font-weight: 700;
      &:hover {
        color: colors.$LightGrayishCyan-FilterTablets;
        background-color: colors.$DesaturatedDarkCyan;
      }
    }
  }
}

.new-btn,
.featured-btn {
  color: white;
  background-color: colors.$DesaturatedDarkCyan;
  border: none;
  border-radius: 1rem;
  height: 1.7rem;
  font-weight: 700;
  padding-inline: 1rem;
}
.featured-btn {
  background-color: black;
}
.border-left {
  border-left: 5px solid colors.$DesaturatedDarkCyan;
}
@media (max-width: 800px) {
  .job {
    position: relative;
    height: auto;
    flex-direction: column;
    padding-block: 4rem 1rem;
    align-items: flex-start;
    padding-left: 2.3rem;
    font-size: 2vw;

    &_logo {
      position: absolute;
      top: -2rem;
      left: 2rem;
      img {
        height: 4rem;
      }
    }
    &_card {
      width: 100%;
      border-bottom: 2px solid colors.$DarkGrayishCyan;
      padding-bottom: 1rem;
    }
  }
  .new-btn,
  .featured-btn {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .job {
    font-size: 2.7vw;
  }
}

@media (max-width: 450px) {
  .job {
    width: 90vw;
    font-size: 3vw;
  }
  .new-btn,
  .featured-btn {
    padding-inline: 0.5rem;
    font-size: 3vw;
  }
}

@media (max-width: 400px) {
  .job {
    font-size: 3.5vw;
  }
}
