@use '../colors';

.header{
    height: 8rem;
    width: 100%;
    background: url("../assets/images/bg-header-desktop.svg") no-repeat, colors.$DesaturatedDarkCyan;
    background-size: cover;
    background-position: center;
}