@font-face {
    font-family: "spartan-500";
    src: url("./assets/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: "spartan-700";
    src: url("./assets/League_Spartan/static/LeagueSpartan-Bold.ttf");
  }
  