#root {
  --fs: 1vw;
}

@media (max-width: 800px) {
  #root {
    --fs: 2vw;
  }
}
@media (max-width: 600px) {
  #root {
    --fs: 2.7vw;
  }
}
@media (max-width: 450px) {
  #root {
    --fs: 3vw;
  }
}
@media (max-width: 400px) {
  #root {
    --fs: 3.5vw;
  }
}
